services:
  app:
    image: ${DOCKER_USERNAME}/team:latest
    container_name: team
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@oracle:1521/XEPDB1
      - SPRING_DATASOURCE_USERNAME=springboot
      - SPRING_DATASOURCE_PASSWORD=java1234
    depends_on:
      - oracle
    restart: unless-stopped
    networks:
      - team-network

  oracle:
    image: gvenzl/oracle-xe:latest
    container_name: oracle
    ports:
      - "1521:1521"
    shm_size: '1g'
    environment:
      - ORACLE_PASSWORD=java1234
    volumes:
      - oracle-data:/opt/oracle/oradata
      - ./script.sql:/container-entrypoint-initdb.d/init.sql
    restart: unless-stopped
    networks:
      - team-network

networks:
  team-network:
    driver: bridge

volumes:
  oracle-data: