<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>CI/CD</title>
	<link rel="stylesheet" href="http://bit.ly/3WJ5ilK" />
</head>
<body>
	<!-- list.html -->
	<h1>Spring Boot <small>CI/CD</small></h1>
	
	<table class="content">
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>설명</th>
		</tr>
		<tr th:each="entity : ${list}">
			<td th:text="${entity.seq}"></td>
			<td th:text="${entity.name}"></td>
			<td th:text="${entity.description}"></td>
		</tr>
	</table>
	
</body>
</html>






