# hello.yml

name: Hello

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: 깃헙 액션 테스트
      run: |
        echo "push가 발생하면 깃헙 액션(hello.yml)이 실행됩니다."














    